@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
	--veryDarkBlue: hsl(238, 29%, 16%);
	--softRed: hsl(14, 88%, 65%);
	--softViolet: hsl(273, 75%, 66%);
	--softBlue: hsl(240, 73%, 65%);
	--darkGray: hsl(237, 12%, 33%);
	--normGray: hsl(240, 6%, 50%);
	--lightGray: hsl(240, 5%, 91%);
}

.App {
	font-family: 'Kumbh Sans', sans-serif;
}

.faq-container {
	min-width: 200px;
	background-color: white;
	margin: 15vh auto;
	padding: 15vh 3vh 10vh;
	border-radius: 15px;
}

.faq-title {
	font-weight: 700;
}

.accordion-item {
	border-bottom: 1px solid var(--lightGray);
}

.accordion-header {
	color: var(--veryDarkBlue);
	font-size: 0.9rem;
	display: flex;
	justify-content: space-between;
}

.accordion-header:hover {
	color: var(--softRed);
	cursor: pointer;
}

.expanded {
	font-weight: 700;
}

.arrow {
	display: flex;
	align-items: center;
}

.accordion-content {
	color: var(--normGray);
	font-weight: 400;
	font-size: 0.8rem;
}

.flipped {
	transform: scaleY(-1);
}
